@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: slateblue;
}
/* leaving the body colour here for now, so I can tell if something goes wrong later down the line */
/* maybe use grid to get the title in the top left. This could show innovation towards a stretch goal mark */

.Thumbnails-Container {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
}
